.icon-star-container {
    width: 2.5em;
    height: 2.5em;
    background: var(--dark-blue);
    border-radius: 30px;
}

.icon-star {
    max-width: 100%;
}

.thank-you-img-container {
    width: 144px;
    height: 96px;
}

.card {
    /* width: 40%; */
    max-width: 25.75rem;
    /* height: 21.5rem; */
    padding: 1.5rem;
    background: linear-gradient(#232A34, #181E27);
    border-radius: 0.938rem;
    gap: 1.063rem;
}

.card-body {
    gap: 1.063rem;
    margin-bottom: 0.438rem;
}

.card-title {
    color: #fff;
    font-weight: 700;
    /* font-size: calc(1.50rem + 3vw); */
    font-size: 1.75rem;
}

.thank-you-card {
    padding: 2.125rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.rate-value-container {
    /* max-width: 10.5rem; */
    padding: 0.313rem 0.75rem;
    border-radius: 22.5px;
    background-color: var(--dark-blue);
    color: var(--orange);
    font-size: 0.875rem;
    text-align: center;
}